{% extends 'partials/base.html.twig' %}

{% block content %}
	<div id="error">
		<div>
			<h1>Error {{ page.header.http_response_code }}</h1>

			{{ page.content|raw }}
			
		</div>
	</div>
{% endblock %}
