// Modular Showcase styling
.modular {
    .footer {
        background: #333;
        width: 100%;
        @extend .padding-horiz;
        padding-top: 4rem;
        @include clearfix;
        a, a:hover, h4 {
            color: $white;

        }
        h4 {
            line-height: 2rem;
            margin-top: 0;
            text-align: left;
        }
        .footer-items {
            margin-top: 2rem;
            @supports not (flex-wrap: wrap) {
                overflow: hidden;
            }
            @include clearfix;
        }
        .footer-module {
            &.large {
               width: 40%; 
           }
           display:block;
           float: left;
           width: 20%;
           vertical-align: top;
           padding-right: 2rem;
           @include breakpoint(large-mobile-range) {
            margin-top: 1rem;
            width: 50%;
        }
        @include breakpoint(small-mobile-range) {
            margin-top: 1rem;
            width: 100%;
        }
        span {
            @include clearfix;
        }
        strong {
            color: $white;
        }
    }
    .logo {
        border-bottom: 0 none;
        @include clearfix;
        color: $white;
    }
    .quickmenu {
        margin: 0;
        padding: 0;
        list-style: none;
        i {
            padding-right: 0.5rem;
            color: $white;
        }
        li a {
            color: $core-text;
        }
    }
    .footer-modules {
     @include clearfix;
     display: block;
     padding-bottom: 1.5rem;
 }
 .footer-copyright {
    width: 50%;
    display: inline-block;
    float: left;
    text-align: left;
}
.footer-menu {
    float: right;
    display: inline-block;
    width: 50%;
    text-align: right;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            &:after {
                content: "/";
                margin: 0 0.5rem;
                display: inline-block;
            }
            &:last-child {
               &:after {
                display: none;
            }
        }
    }
}
}
}
}
