// Modular Showcase styling
.modular {
    .footer {
        background: #333;
        width: 100%;
        @extend .padding-horiz;
        padding-top: 4rem;
        @include clearfix;
        a, a:hover, h4 {
            color: $white;

        }
        h4 {
            line-height: 2rem;
            margin-top: 0;
            text-align: left;
        }
        .footer-items {
            margin-top: 2rem;
            @supports not (flex-wrap: wrap) {
                overflow: hidden;
            }
            @include clearfix;
        }
        .footer-module {
            &.large {
               width: 40%; 
            }
            display:block;
            float: left;
            width: 20%;
            vertical-align: top;
            padding-right: 2rem;
            @include breakpoint(large-mobile-range) {
                margin-top: 1rem;
                width: 50%;
            }
            @include breakpoint(small-mobile-range) {
                margin-top: 1rem;
                width: 100%;
            }
            span {
                @include clearfix;
            }
            strong {
                color: $white;
            }
        }
        .logo {
            border-bottom: 0 none;
            @include clearfix;
            color: $white;
        }
        hr {}
    }
}
