// variables
$text-bg:        #EEEEEE;
$text-padding:   2rem;
$image-margin:      2rem;


// styling
.portfolio {
    padding: $text-padding $content-padding;
    padding-top: $text-padding;
    padding-bottom: 1rem;
    text-align: center;
    @include breakpoint(desktop-only) {
        text-align: center;
    }
    h2 {
        color: $light-gray;
    }
    .notebooks {
        margin-top: 4rem;
        .notebook-row {
            box-shadow: inset 0px -90px 0px -20px $main-bg;
            margin-left: -$padding-horiz;
            margin-right: -$padding-horiz;
            padding-left: $padding-horiz;
            padding-right: $padding-horiz;
            background: $text-bg;
            padding-bottom: 2rem;
            .notebook {
                min-width: 24%;
                @include breakpoint(tablet-range) {
                    width: 100%;
                }
                @include breakpoint(desktop-range) {
                    min-width: 24%;
                    float: none;
                }
                h4 {
                    text-align: left;
                    margin-bottom: 0;
                }
                p {
                    margin-top: 0;
                }
                .desc {
                    width: 20rem;
                    margin-left: 2rem;
                    @include breakpoint(desktop-range) {
                        width: 100%;
                    }
                    @include breakpoint(mobile-only) {
                        width: 100%;
                    }
                    @include breakpoint(small-mobile-range) {
                        width: 90%;
                    }
                    @include breakpoint(tablet-range) {
                        width: 100%;
                    }
                }
            } 
        }
    }
}
.portfolio-modal .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    cursor: pointer;
    font-size: 3rem;
}
.modal {
    @extend .default-animation;
    display: none;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: $white;
    text-align: center;
    &.in {
       opacity: 1; 
    }
    .client-details {
        list-style-type: none;
        li {
            display: inline-block;
            strong {
                color: $core-accent;
                font-weight: normal;
            }
        }
    }
    .modal-content {
        margin: 0 auto;
        width: 35rem;
        min-height: 100%;
        margin-top: 10rem;
    }
}