// Header styling

#header {
	@extend .padding-horiz;
	position: absolute;
	z-index: 10;
	width: 100%;
	height: $header-height;
	background-color: rgba(255,255,255,0.90);
	box-shadow: 0 0.05rem 1rem rgba(0,0,0, 0.15);

	// set heights for vertical centering
	> .grid, #logo, #navbar, .social-navigation {
		height: 50%;
	}

	#logo {
		h3 {
			@extend .default-animation;
			@extend %vertical-align;
			font-size: 2.5rem;
            font-family: $font-family-logo;
			line-height: 2rem;
			margin: 0;
            float: left;
			a {
				color: $core-text;
			}
		}
        border-bottom: 1px solid $body-border;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            &.social-icons {
                @extend %vertical-align;
                float: right;
                line-height: 2rem;
                margin: 0;

                li {
                    @extend .default-animation;
                    float: left;
                    width: 2.1rem;
                    height: 2.1rem;
                    background: $white;
                    border-radius: 100%;
                    text-align: center;
                    margin-right: 0.8rem;
                    a {
                        color: $black;
                        display: block;
                        margin-top: 0.1rem;
                    }
                    &:hover {
                        background: transparentize($white, 0.5);
                    }
                }
            }
        }
    }

	#navbar {
		font-size: $core-font-size + 0.1rem;
		ul {

			margin: 0;
			padding: 0;
			list-style: none;

			&.navigation {
				@extend %vertical-align;
				display: inline-block;
				float: left;
				li {
					float: left;
					position: relative;
                    text-transform: uppercase;

					a {
						font-family: $font-family-header;
						display: inline-block;
						padding: 0.3rem 0.8rem;

						&.active, &:hover {
							color: $core-accent;
						}
					}
                    &:first-child a {
                        padding-left: 0;
                    }

					// Dropdown Menu Styles
					ul {
						display: none;
						padding: 0;
						box-shadow: 0 0.05rem 1rem rgba(0,0,0, 0.15) !important;
					}

					ul ul {
						left: 100%;
						top: 0;
					}	


					&:hover {
						& > ul {
							display: block;
							position: absolute;
							background: rgba($white, 0.9);
							width: 10rem;
						}

						li {
							float: none;
							margin: 0;
							padding: 0;

							a {
								padding: 0.5rem 0.8rem;
								display: block;

								&:before, &:after {
									display: none;
								}
							}

							&.active {
								& > a {
									background: $core-accent;
									color: $white;
								}
							}
						}
					}
				}
				@include breakpoint(desktop-only) {
					display: none;
				}
			}	
		}

		.panel-activation {
			@extend %vertical-align;
            padding: 1rem;
			display: none;
			font-size: 1.8rem;
			cursor: pointer;
			float: right;
			@include breakpoint(desktop-only) {
				display: inline-block;
			}
		}

	}

}

// Header Image
.header-image {
    &.fullwidth {
        #body {
            padding-left: 0;
            padding-right: 0;

            >.listing-row {
                padding-left: $padding-horiz;
                padding-right: $padding-horiz;
            }
        }
    }
    .listing-row:last-child {
    	margin-bottom: 2rem;
    }

    #body {
        .flush-top {
            margin-top: - $header-height - $padding-vert - 1.5rem;
            padding-top: $header-height + 4rem;
        }
    }

    #breadcrumbs {
    	margin-top: 1rem;
    }

    #header {
        background-color: rgba($header-text,0);
        box-shadow: none;

        #logo h3, #logo a {
            color: $header-text;
        }
        a, .menu-btn {
            color: $header-text;
        }
        a:before, a:after {
        	background-color: rgba($header-text,0.7) !important;
        }

        #navbar ul.navigation  {
            ul li a {
                color: $core-accent;
                &:hover {
                    color: darken($core-accent, 20%);
                }
            }
        }
    }
}
